* {
	box-sizing: border-box;
}

.darkgray {
	background: #333333;
}

.bg-black {
	background: black;
	color: white;
	background-attachment: fixed;
}

textarea {
	resize: none;
	border: 1px solid #333333;
}

.sadbody {
	background: linear-gradient(235deg, #24c6dc, #191919, #514a9d);
}